#root {
  background-color:burlywood;
}
main {
  padding-bottom: 100px;
  margin: auto;
  max-width: 800px;
  width: 100%;
}
.page-title-container {
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-title {
  padding: 30px 10px;
  
  font-weight: 900;
  
}

.page-title--input {
  height: 40px;
    font-size: 30px;
    font-weight: 900;
    border: none;
    padding: 5px;
    background-color: inherit;
    border-bottom: 2px solid antiquewhite;
    color: antiquewhite;
    width: 280px;
}
.page-title--input::placeholder {
  color: antiquewhite;
}

.page-date {
  color:antiquewhite;
  font-weight: 900;
}
.sidebar--header {
  justify-content: space-between;
  padding: 0 10px;
}
.split, .no-notes {
margin: auto;
padding: 10px;
background-color: white;
border-radius: 10px;
height: 82vh;
}
section.sidebar {
  height: 80vh;
}
section.gutter {
  height: 80vh;
}
section.editor {
  height: 80vh;
}

.sidebar .sidebar--container {
  padding: 5px 10px 0px 5px;
}

.sidebar .title {
  background-color: antiquewhite;
  border-radius: 5px;
  margin: 1px 0;
}
.sidebar .selected-note, .sidebar .sidebar--header .new-note, .no-notes .first-note {
  background-color: burlywood;
}
.sidebar .title .text-snippet {
  padding-inline: 10px;
}